@font-face {
  font-family: "Crystal";
  src: url("./font/Crystal.woff2") format("woff2");
}

@font-face {
  font-family: "DS-Crystal";
  src: url("./font/DS-Crystal.woff2") format("woff2");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#root {
  position: relative;
  background-color: lightgray;
  width: 345px;
  padding: 20px;
}

.title {
  text-transform: uppercase;
}

.main-value, .main-title {
  position: relative;
  font-family: Crystal;
  font-size: 40pt;
}

.background {
  position: static;
  /*top: 15px;*/
  /*left: 15px;*/
  color: white;
  z-index: 0;
  word-spacing: -5px;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  animation: red-neon 1s infinite alternate;
  z-index: 1;
  word-spacing: -4px;
}

@keyframes red-neon {
  0% {
    text-shadow: 0px 0px 3px red, 0px 0px 3px #ff00008a;
  }

  25% {
    text-shadow: 0px 0px 3px red, 0px 0px 6px #ff00008a;
  }

  30% {
    text-shadow: 0px 0px 3px red, 0px 0px 0px #ff00008a;
  }

  35% {
    text-shadow: 0px 0px 3px red, 0px 0px 6px #ff00008a;
  }

  40% {
    text-shadow: 0px 0px 3px red, 0px 0px 3px #ff00008a;
  }

  45% {
    text-shadow: 0px 0px 3px red, 0px 0px 6px #ff00008a;
  }

  100% {
    text-shadow: 0px 0px 3px red, 0px 0px 6px #ff00008a;
  }
}

.neon-blink {
  animation: neon-blink 5s infinite;
}

@keyframes neon-blink {
  0% {
    color: red;
  }

  3% {
    color: transparent;
    text-shadow: none;
  }

  6% {
    color: rgba(255, 0, 0, 0.59);
    text-shadow: none;
  }

  9% {
    color: transparent;
    text-shadow: none;
  }

  12% {
    color: rgba(255, 0, 0, 0.59);
    text-shadow: none;
  }

  15% {
    color: red;
    text-shadow: 0px 0px 3px red, 0px 0px 6px #ff00008a;
  }

  20% {
    color: transparent;
    text-shadow: none;
  }

  30% {
    color: red;
    text-shadow: 0px 0px 3px red, 0px 0px 6px #ff00008a;
  }

  100% {
    color: red;
  }
}

.foreground div, .background div {
  display: inline-block;
  background: #000000b0;
}

.screen {
  width: 120px;
}

.value {
  width: 84px;
}

#updated-time {
  position: absolute;
  bottom: 4px;
  right: 5px;
  color: gray;
  font-size: 8pt;
}

#updated-auto {
    position: absolute;
    bottom: 2px;
    left: 5px;
}

#updated-auto, #updated-auto select {
    color: gray;
    font-size: 8pt;
}

#updated-auto select {
    opacity: 0.75;
}

#updated-auto select:hover {
    opacity: 1
}
